.synth-slider {
  -webkit-appearance: none;
  width: 100%;
  border: 2px solid rgb(79, 75, 75);
  border-radius: 10px;
  background-color: whitesmoke;
  /* transform: rotate(270deg); */
}

.synth-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: rgba(114, 122, 122, 0.49);
}
.synth-slider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 140%;
  background: rgba(114, 122, 122, 0.49);
}

body {
  padding-top: 20px;
  text-align: center;
}

.container {
  padding: 20px;
  width: 50%;
  border: 1px solid #eee;
  margin: 0 auto;
  height: auto;
}

.text-label {
  color: rgb(87, 170, 173);
  font-weight: bold;
  padding: 5px;
}

.control-box {
  color: rgb(193, 193, 193);
  border-radius: 5px;
  border: 5px solid rgba(255, 255, 255, 0.458);
  background-color: lightgrey;
  padding: 10%;
  text-align: left;
}

.slider-input {
  width: 25%;
}
